*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    width: 400px;
    height: min-content;
    background-color: azure;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 84%;
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    background-color: blueviolet;
    padding: 12px 16px;
    border-radius: 14px;
}
.search-box input::placeholder{
    color: black;
}
.search-box button{
    width: 46px;
    height: 46px;
    background-color: brown;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: blue;
    background-color: brown;
}